.about {
  padding-top: 38px;
  padding-bottom: 22px;
  background-color: $basic-grey;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__company {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 49px;
    padding-bottom: 55px;
  }

  .about__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .about__company {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 65px;
  }
}
