.button {
  font-family: $custom-font;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;

  &--primary {
    background-color: $main-theme;
    color: $basic-white;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover,
    &:focus {
      background-color: $apple;
    }

    &:active {
      color: rgba($basic-white, 0.3);
    }
  }

  &--secondary {
    background-color: $basic-grey;
    color: $special-dark-grey;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover,
    &:focus {
      background-color: $gallery;
    }

    &:active {
      color: rgba($special-dark-grey, 0.3);
    }
  }

  &--arrow {
    $arrow-length: 24px;
    color: $basic-black;
    padding-right: calc(15px + #{$arrow-length});
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-position: center right;
    background-size: $arrow-length 10px;
    background-repeat: no-repeat;
    transition: $transition-time;

    &:hover,
    &:focus {
      $arrow-length: 34px;
      padding-right: calc(25px + #{$arrow-length});
      background-size: $arrow-length 10px;
      background-image: url("../../img/icon-right-arrow-verylong.svg");
      width: 32px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;

    &--primary {
      padding: 7px 26px;
      line-height: 24px;
    }

    &--arrow {
      $arrow-length: 35px;
      font-size: 20px;
      padding-right: calc(13px + #{$arrow-length});
    }
  }
}
