.catalog__title {
  margin: 0;
  font-family: $custom-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 24px;
  padding-bottom: 40px;
  border-top: 1px solid $alto;
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border-top: 1px solid $gallery;

  &:last-child {
    border-bottom: 1px solid $gallery;
  }
}

.catalog__card {
  padding-top: 19px;
  padding-bottom: 25px;
}

.catalog__more-title {
  margin: 0;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

.catalog__more-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin-bottom: 21px;
  text-align: center;
}

.catalog__show-more {
  @include link-reset;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    border: none;
    font-size: 60px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
  }

  .catalog__item {
    border: none;
    background-color: $basic-grey;
    padding-right: 36px;
    padding-left: 36px;
    width: 42%;
    margin-bottom: 140px;

    &--more {
      background-color: transparent;
      border: 1px solid $basic-grey;
    }
  }

  .catalog__card {
    &--more {
      padding-top: 161px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .catalog__more-title {
    max-width: 140px;
  }

  .catalog__more-text {
    max-width: 170px;
    margin-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 21%;
  }
}
