.catalog__title {
  margin: 0;
  font-family: $custom-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 24px;
  padding-bottom: 42px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    border-top: 1px solid $mercury;
    margin-left: calc(50% - 50vw);
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  position: relative;

  &--more {
    order: 100;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    border-top: 1px solid $gallery;
    margin-left: calc(50% - 50vw);
  }

  &:last-child {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100vw;
      border-top: 1px solid $gallery;
      margin-left: calc(50% - 50vw);
    }
  }
}

.catalog__card {
  padding-top: 0;
  padding-bottom: 23px;
}

.catalog__card--more {
  $top: 40px;
  padding-top: 80px;
  position: relative;

  &::before {
    $width: 30px;
    content: "";
    position: absolute;
    width: $width;
    height: 2px;
    background-color: $alto;
    top: $top;
    left: calc(50% - #{$width} / 2);
  }

  &::after {
    $width: 2px;
    $height: 30px;
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    background-color: $alto;
    top: calc(#{$top} - #{$height} / 2);
    left: calc(50% - #{$width} / 2);
  }
}

.catalog__more-title {
  margin: 0;
  font-family: $custom-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

.catalog__more-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin-bottom: 21px;
  text-align: center;
}

.catalog__show-more {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    border: none;
    font-size: 60px;
    padding: 0;
    line-height: 60px;

    &::before {
      display: none;
    }
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 163px;
    margin-bottom: -102px;
  }

  .catalog__item {
    border: none;
    background-color: $basic-grey;
    width: 46%;
    margin-bottom: 140px;

    &::before {
      display: none;
    }

    &--more {
      background-color: transparent;
      border: 1px solid $basic-grey;

      &::after {
        display: none;
      }
    }
  }

  .catalog__card {
    padding-bottom: 41px;

    &--more {
      padding-top: 161px;
      display: flex;
      flex-direction: column;
      align-items: center;
      $top: 82px;

      &::before {
        $width: 60px;
        width: $width;
        top: $top;
        left: calc(50% - #{$width} / 2);
      }

      &::after {
        $height: 60px;
        height: $height;
        top: calc(#{$top} - #{$height} / 2);
      }
    }
  }

  .catalog__more-title {
    max-width: 140px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 26px;
  }

  .catalog__more-text {
    max-width: 170px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  .catalog__show-more {
    width: auto;
    align-self: stretch;
    margin: 0 33px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 20.2%;
  }

  .catalog__more-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 18px;
  }

  .catalog__list {
    margin-top: 165px;
    margin-bottom: -86px;
  }
}
