.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 540px;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: none;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: none;
    width: 1220px;
    padding: 0;
  }
}
