.creators {
  width: 100%;
}

.creators__logo {
  fill: $dove-gray;
  width: 39px;
  height: 49px;
}

.creators__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .creators__logo,
  &:focus .creators__logo {
    fill: $main-theme;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .creators {
    width: auto;
  }

  .creators__logo {
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .creators__logo {
    width: 42px;
    height: 52px;
  }
}
