.example {
  background-color: $special-grey;
}

.example__title {
  @include header-reset;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 33px;
}

.example__text {
  @include text-reset;
  color: $special-dark-grey;
  margin-bottom: 25px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 17px;
  display: block;
}

.example__detail {
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  text-transform: lowercase;
}

.example__wrapper {
  margin-bottom: 34px;
}

.example__total {
  @include text-reset;
  line-height: 20px;
  text-transform: uppercase;
}

.example__results {
  margin-bottom: 42px;
}
