.example {
  background-color: $basic-grey;
}

.example__title {
  margin: 0;
  font-family: $custom-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 33px;
}

.example__text {
  margin: 0;
  color: $special-dark-grey;
  margin-bottom: 25px;
  width: 99%;
}

.example__value {
  font-family: $custom-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 17px;
  display: block;
  text-align: center;
}

.example__detail {
  $detail-width: 77px;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  text-transform: lowercase;
  position: absolute;
  bottom: -14px;
  width: $detail-width;
  left: calc(50% - #{$detail-width} / 2);
  text-align: center;
  background-color: $basic-grey;
}

.example__wrapper {
  margin-bottom: 34px;
  display: flex;
}

.example__result {
  margin-right: 31px;
  width: 50%;
  border: 1px solid $silver;
  border-radius: 5px;
  position: relative;
  min-width: 124px;

  &:last-of-type {
    margin-right: 0;
  }
}

.example__total-wrapper {
  display: flex;
  justify-content: center;
}

.example__total {
  margin: 0;
  font-family: $custom-font;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 5px;
}

.example__total-value {
  font-family: $custom-font;
  line-height: 20px;
  text-transform: uppercase;
}

.example__results {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient($basic-white 0%, $basic-white 57%, $special-grey 57%, $special-grey 100%);
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 66px;
  }

  .example__text {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 53px;
  }

  .example__results {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .example__wrapper {
    width: 52%;
    margin-bottom: 0;
  }

  .example__result {
    margin-right: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example__value {
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 15px;
  }

  .example__detail {
    top: 5px;
    left: auto;
    position: relative;
    background-color: $basic-white;
    font-size: 14px;
    width: auto;
    padding-right: 6px;
    padding-left: 6px;
  }

  .example__total-wrapper {
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
  }

  .example__total {
    margin-bottom: 5px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(180deg, $basic-white 23%, transparent 23%), linear-gradient(to right, $basic-grey 50%, #eaeaea 50%);
  }

  .example__container {
    display: flex;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    max-width: 440px;
    margin-bottom: 69px;
  }

  .example__results {
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }

  .example__total-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .example__total {
    margin-right: 63px;
    margin-bottom: 0;
  }

  .example__wrapper {
    width: auto;
    margin-bottom: 61px;
  }

  .example__main-wrap {
    margin-right: auto;
  }

  .example__detail {
    background-color: $basic-grey;
  }

  .example__result {
    min-width: 165px;
    margin-right: 39px;
  }

  .example__value {
    margin-top: 24px;
    margin-bottom: 13px;
  }
}
