.extra__title {
  margin: 0;
  font-family: $custom-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
  display: flex;

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    flex-grow: 1;
    margin-left: 22px;
    margin-top: 17px;
    margin-right: calc(50% - 50vw);
    background-color: $main-theme;
  }
}

.extra__list {
  @include list-reset;
  margin-bottom: 39px;
}

.extra__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $silver;
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid $silver;
    padding-top: 9px;
    padding-bottom: 16px;
  }
}

.extra__product {
  margin: 0;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $mine-shaft;
  font-weight: normal;
  margin-bottom: 13px;
}

.extra__description {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.extra__name {
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.extra__value {
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
  margin: 0;
}

.extra__purchase {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  color: $basic-white;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .extra__title {
    padding-left: 36px;
    margin-bottom: 72px;
    position: relative;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: calc(50vw - 50%);
      left: calc(50% - 50vw);
      margin-right: 10px;
      background-color: #68b738;
      top: 23px;
    }

    &::after {
      margin-left: 36px;
      margin-top: 23px;
    }
  }

  .extra__list {
    margin-bottom: 73px;
  }

  .extra__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 26px;
    padding-bottom: 25px;
    border-top: 1px solid $basic-grey;
    border-right: 1px solid $basic-grey;
    border-left: 1px solid $basic-grey;

    &:last-child {
      border-bottom: 1px solid $basic-grey;
      padding-top: 25px;
      padding-bottom: 29px;
    }
  }

  .extra__purchase {
    width: 100%;
    margin-top: 27px;
    padding-top: 7px;
    padding-bottom: 12px;
  }

  .extra__product {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .extra__description {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .extra__name {
    margin-right: 32px;
    font-size: 16px;
    line-height: 16px;
  }

  .extra__value {
    min-width: 60px;
    text-align: right;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .extra__title {
    width: 100%;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: calc(50vw - 50% - 40px);
      top: 17px;
    }

    &::after {
      margin-top: 17px;
    }
  }

  .extra__list {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 79px;
  }

  .extra__item {
    border-left: none;
    border-right: none;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 17px;
    padding-bottom: 17px;

    &:nth-child(3) {
      padding-top: 13px;
    }

    &:last-child {
      padding-top: 16px;
      padding-bottom: 19px;
    }
  }

  .extra__purchase {
    min-width: 244px;
    width: auto;
    flex-grow: 1;
    margin-top: 0;
  }

  .extra__product {
    margin-right: 95px;
    font-size: 20px;
    line-height: 20px;
    width: 230px;
  }

  .extra__name {
    font-size: 16px;
    line-height: 28px;
    margin-right: 0;
  }

  .extra__value {
    font-size: 16px;
    line-height: 28px;
    margin-left: auto;
    text-align: left;
  }

  .extra__description {
    width: 304px;
    margin-right: 21px;
  }
}
