.header {
  position: relative;
  padding-top: 11px;
  overflow: hidden;
}

.header__logo {
  margin-bottom: 17px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 21px;
  }

  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 56px;
  }
}
