.location {
  padding-top: 28px;
}

.location__invite {
  padding-bottom: 22px;
}

.location__title {
  margin: 0;
  font-family: $custom-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.location__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $special-dark-grey;
}
