.location {
  padding-top: 28px;

  &--form {
    background-color: $basic-grey;
  }

  &--catalog {
    background-color: $basic-grey;
    padding-top: 28px;
  }
}

.location__invite {
  padding-bottom: 25px;
  display: flex;
}


.location__title {
  margin: 0;
  width: 50%;
  font-family: $custom-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.location__address {
  width: 50%;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: $special-dark-grey;
}

.location__map {
  position: relative;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-position: center center;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: 362px;
}

@media (min-width: $tablet-width) {
  .location {
    padding-top: 68px;

    &--secondary {
      background-color: $basic-grey;
    }
  }

  .location__invite {
    justify-content: space-between;
    padding-bottom: 60px;
    width: 88%;
    margin: 0 auto;
  }

  .location__title {
    flex-grow: 0;
    max-width: 171px;
    font-size: 20px;
    line-height: 21px;
  }

  .location__address {
    max-width: 160px;
    flex-grow: 0;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .location__break {
    display: block;
    margin-top: 20px;
  }

  .location__map {
    background-image: url("../../img/bg-map-tablet@1x.png");
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    padding-top: 0;
    background-color: $basic-white;
  }

  .location__wrapper {
    position: relative;
  }

  .location__map {
    background-image: url("../../img/bg-map-desktop@1x.png");
    height: 400px;

    &::after {
      left: auto;
      right: 25.16%;
    }
  }

  .location__invite {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    background-color: $basic-white;
    padding-top: 60px;
    padding-left: 76px;
    padding-right: 89px;
    width: auto;
    display: flex;
    align-items: center;
  }

  .location__title {
    margin-right: 87px;
  }

  .location__address {
    text-align: left;
  }
}
