.location {
  padding-top: 28px;
}

.location--catalog {
  background-color: $basic-grey;
  padding-top: 28px;
}

.location__invite {
  padding-bottom: 22px;
  display: flex;
}

.location__title {
  margin: 0;
  font-family: $custom-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
}

.location__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $special-dark-grey;
  flex-grow: 1;
}

.location__map {
  position: relative;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-color: red;
  background-size: cover;
  background-position: center center;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: 362px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 57px;
    height: 53px;
    background-image: url("../../img/map-pin.png");
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .location__invite {
    justify-content: space-between;
  }

  .location__title {
    flex-grow: 0;
    max-width: 171px;
    font-size: 20px;
    line-height: 21px;
  }

  .location__address {
    max-width: 160px;
    flex-grow: 0;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
