.logo {
  display: block;
  background-color: $basic-white;
  position: relative;
  z-index: 2;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    margin-bottom: 32px;
    width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    margin-bottom: 14px;
    width: 200px;
  }
}
