.main__promo {
  padding-top: 27px;
  padding-bottom: 22px;
}

.main__programs {
  padding-bottom: 27px;
}

.main__process {
  padding-bottom: 40px;
}

.main__example {
  padding-top: 27px;
  padding-bottom: 25px;
}

.main__catalog {
  padding-top: 27px;
  padding-bottom: 28px;
}

.main__extra {
  padding-bottom: 35px;
}

.main__information {
  padding-top: 27px;
  padding-bottom: 32px;
}
