.main {
  overflow: hidden;
}

.main__promo {
  padding-top: 27px;
  padding-bottom: 22px;
}

.main__programs {
  padding-bottom: 27px;
}

.main__process {
  padding-bottom: 40px;
}

.main__example {
  padding-top: 27px;
  padding-bottom: 32px;
}

.main__catalog {
  padding-bottom: 28px;
}

.main__extra {
  padding-bottom: 35px;
}

.main__information {
  padding-top: 27px;
  padding-bottom: 32px;
  border-top: 1px solid $mercury;
}

@media (min-width: $tablet-width) {
  .main__promo {
    padding-top: 32px;
    padding-bottom: 0;
  }

  .main__programs {
    padding-bottom: 45px;
  }

  .main__example {
    padding-top: 43px;
    padding-bottom: 72px;
  }

  .main__catalog {
    padding-top: 55px;
  }

  .main__information {
    padding-top: 55px;
    padding-bottom: 75px;
    border: none;
  }

  .main__process {
    padding-bottom: 65px;
  }

  .main__extra {
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .main__promo {
    padding-bottom: 124px;
  }

  .main__example {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .main__information {
    padding-top: 73px;
    padding-bottom: 93px;
  }

  .main__programs {
    padding-bottom: 52px;
  }

  .main__process {
    padding-bottom: 90px;
  }

  .main__catalog {
    padding-top: 68px;
  }
}
