.page__body {
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  font-weight: 400;
  font-family: $default-font;
  background-color: $basic-white;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .page__body--index {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 696px;
      background-color: $apple;
      top: 0;
      right: 0;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}
