.process__title {
  margin: 0;
  font-family: $custom-font;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 42px;
  font-weight: normal;
}

.process__list {
  @include list-reset;
  display: grid;
  gap: 20px;
}

.process__item {
  position: relative;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $main-theme;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.process__item--healthy {
  &::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }
}

.process__item--simple {
  &::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }
}

.process__item--food {
  &::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }
}

.process__item--fast {
  &::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

.process__text {
  margin: 0;
  padding-left: 80px;
  color: $special-dark-grey;
}

@media (min-width: $tablet-width) {
  .process {
    border-bottom: 1px solid $mercury;
  }

  .process__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 68px;
  }

  .process__list {
    row-gap: 98px;
    column-gap: 62px;
    grid-template-columns: 1fr 1fr;
    counter-reset: customCounter;
  }

  .process__item {
    padding-right: 20%;
    min-height: 220px;
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: customCounter;
      content: counter(customCounter);
      color: $basic-grey;
      font-family: $custom-font;
      font-size: 280px;
      position: absolute;
      right: 85px;
      bottom: 110px;
      z-index: 1;
    }
  }

  .process__text {
    padding: 0;
    padding-top: 114px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    line-height: 23px;
  }
}

@media (min-width: $desktop-width) {
  .process__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }

  .process {
    border: none;
  }

  .process__title {
    margin-bottom: 72px;
  }

  .process__item {
    padding-right: 0;

    &::after {
      right: 7px;
    }
  }
}
