.promo {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 400px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.promo__wrapper {
  background-repeat: no-repeat;
  background-position: center 140px;
  background-size: 280px;

  &--cocktail {
    background-image: url("../../img/index-can-mobile@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-can-mobile@2x.png");
    }
  }
}

.promo__title {
  margin: 0 auto;
  font-family: $custom-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $basic-white;
  text-align: center;
  margin-bottom: 25px;
  max-width: 340px;
}

.promo__subtitle {
  margin: 0;
  font-family: $custom-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;
  margin-bottom: 302px;
}

.promo__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__wrapper {
    padding-bottom: 526px;
    padding-left: 86px;

    &--cocktail {
      background-image: url("../../img/index-can-tablet@1x.jpg");
      background-position: center 177px;
      background-size: 708px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-can-tablet@2x.jpg");
      }
    }
  }

  .promo__title {
    margin: 0;
    color: $basic-black;
    text-align: left;
    max-width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .promo__subtitle {
    color: $basic-black;
    text-align: left;
    font-size: 20px;
    margin-bottom: 49px;
  }

  .promo__link {
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    background-image: url("../../img/index-can-desktop@1x.png");
    background-position: 450px center;
    background-size: 552px;
    padding-bottom: 145px;
    padding-top: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-can-desktop@2x.png");
    }
  }
}
