.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper {
  display: flex;
  width: 311px;
  margin-bottom: 32px;
  position: relative;
}

.slider__slide {
  min-width: 0;
  height: 232px;
  background-repeat: no-repeat;
  background-size: cover;


  &--previous {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    background-image: url("../../img/before-mobile@1x.png");
    background-position: left center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/before-mobile@2x.png");
    }
  }

  &--next {
    position: absolute;
    min-width: 0;
    max-width: 100%;
    top: 0;
    right: 0;
    width: 0;
    background-image: url("../../img/after-mobile@1x.png");
    background-position: right center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/after-mobile@2x.png");
    }
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__control-btn {
  padding: 0;
  padding-bottom: 4px;
  font-family: $custom-font;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin-right: 17px;
  border: none;
  outline: none;

  &--previous {
    margin-left: 18px;
  }
}

.slider__control {
  width: 84px;
  height: 14px;
  border: 1px solid $silver;
  border-radius: 15px;
  background-color: $basic-white;
  display: flex;
  margin-right: 17px;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
}

.slider__progress {
  width: 50%;
  height: 6px;
  background-color: $main-theme;
  border-radius: inherit;
  outline: none;
  left: 0;
  position: relative;

  &:hover,
  &:focus {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:active {
    box-shadow: 0 0 0 1px $main-theme;
  }
}

@media (min-width: 768px) {
  .slider__wrapper {
    width: 680px;
    margin-bottom: 9px;
  }

  .slider__slide {
    height: 523px;

    &--previous {
      background-image: url("../../img/before-tablet@1x.png");
      width: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/before-tablet@2x.png");
      }
    }

    &--next {
      background-image: url("../../img/after-tablet@1x.png");
      width: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/after-tablet@2x.png");
      }
    }
  }

  .slider__controls {
    width: 590px;
  }

  .slider__control-btn {
    font-size: 20px;

    border-bottom: 1px dotted $basic-black;

    &:hover,
    &:focus {
      border-bottom: 1px solid $basic-black;
    }

    &:active {
      border-bottom: none;
    }

    &--previous {
      margin-left: 8px;
      margin-right: 25px;
    }

    &--next {
      margin-right: 11px;
    }
  }

  .slider__control {
    width: auto;
    flex-grow: 1;
    height: 6px;
    border: none;
    background-color: $alto;
    align-items: normal;
    padding-left: 0;
    padding-right: 0;
  }

  .slider__progress {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    width: 34px;
    height: 34px;
    background-color: $main-theme;
    border-radius: 50%;
    border: 13px solid $basic-white;
    top: -200%;
    left: calc(50% - 17px);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: -49px;
    margin-right: -28px;
  }

  .slider__wrapper {
    margin-bottom: 41px;
    width: 625px;
  }

  .slider__progress {
    top: -250%;
  }

  .slider__slide {
    height: 510px;

    &--previous {
      background-image: url("../../img/before-desktop@1x.png");
      background-position: -38px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/before-desktop@2x.png");
      }
    }

    &--next {
      background-image: url("../../img/after-desktop@1x.png");
      background-position: right;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/after-desktop@2x.png");
      }
    }
  }
}
