.slider__wrapper {
  background-repeat: no-repeat;
  background-position: center center;

  &--next {
    background-image: url("../../img/after-mobile@1x.png");
  }
}

.slider__slide {
  min-width: 311px;
  height: 232px;
  background-repeat: no-repeat;
  background-position: center center;

  &--previous {
    background-image: url("../../img/before-mobile@1x.png");
    background-color: $special-grey;
  }

  .slider__slide--transparent {
    background-color: transparent;
  }
}

.slider__control-btn {
  font-family: $custom-font;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}
