.social-networks__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
  margin-bottom: 21px;
}

.social-networks__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social-networks__image {
  fill: $dove-gray;

  &:hover,
  &:focus {
    fill: $main-theme;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-networks__list {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
}
