$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;

$special-grey: #eaeaea;
$special-dark-grey: #444444;

$mine-shaft: #222222;
$mercury: #e6e6e6;
$alto: #d9d9d9;
$silver: #cdcdcd;
$gallery: #ebebeb;

$status-error: #ff8282;
$main-theme: #68b738;

$default-font: "Arial", sans-serif;
$custom-font: "Oswald", "Arial", sans-serif;

$transition-time: 300ms;

$tablet-width: 768px;
$desktop-width: 1440px;
