@import "variables.scss";
@import "mixins.scss";
@import "blocks/page.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/main";
@import "blocks/promo";
@import "blocks/programs";
@import "blocks/process.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/location.scss";
@import "blocks/about.scss";
@import "blocks/social-networks.scss";
@import "blocks/creators.scss";
@import "blocks/catalog.scss";
@import "blocks/product-card.scss";
@import "blocks/extra.scss";
@import "blocks/gift.scss";
@import "blocks/form.scss";
@import "blocks/button.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 280px;
  margin: 0 auto;
}
